/* ----- Selectores de ETIQUETA ----- */

body{
    
    background: rgb(63, 52, 33);
}

p{
    color: rgb(12, 5, 117);
    background: rgb(3, 90, 3);
}


/* ----- Selectores de CLASE ----- */
.title1{
    color: blueviolet;
}

.text1{
    color: aqua;
}


/* ----- Selectores de ID ----- */
/*  NO  se recomiendan nunca utilizar para dar ESTILOS,  estos sólo se pueden aplicar a un elemento dentro de todo el documento HTML  Por lo tanto el objetivo que es reutilizar el código en éste caso no serviría.
Los ID se usan generalmente para los ANCLAS y en JavaScript para acceder al DOM.
en CSS es prerible no utilizarlo. */

#title2{
    color: cyan;
}

#text2{
    color: burlywood;
}


/* ----- Selectores UNIVERSALES ----- */
/*  Se utilizan para resetear el navegador */

/*
    *{
        color: red;
    }
*/




/* ----- Selectores de ATRIBUTOS ----- */
/*  Seleccionan los elementos que tienen ese atributo:  */
[href]{
    color: firebrick;
}
/*  Seleccionan los elementos que tienen ese atributo y ese valor:*/
[href="#"]{
    color: indigo;
}
/*  Seleccionan los elementos que tienen ese atributo y al menos ese valor una vez:*/
[class~="verde"]{
    color: mediumvioletred;
}
/*  Seleccionan los elementos que tienen ese atributo y exactamente ese valor o empieze por el valor seguido de un guion :*/
[class~="verde"]{
    color: rgb(13, 10, 221);
}
/*  Seleccionan los elementos que empiezen por el atributo que le estemos dando :*/
[class^="rojo"]{
    color: rgb(10, 221, 116);
}
/*  Seleccionan los elementos que acaban en un valor que se quiera :*/
[class$="verde"]{
    color: rgba(10, 154, 221, 0.295);
}
/*  Seleccionan los elementos que contengan ese valor independiente de en que posición esté :*/
[class*="rojo"]{
    color: rgba(0, 2, 3, 0.295);
}




/* ----- Selectores COMBINADORES ----- */

